@charset "UTF-8";


 body{
      height: 100vh;
      display: flex;
      font: normal, normal, 16px, Arial, Verdana sans-serif;
      text-align: left;
      background-image: linear-gradient(to right, #034159, #025951, #02735E);
    }
main{
    width: 700px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    box-shadow: 5px 5px 10px #010101;
    border-radius: 20px;
}
h1{
    
    font-style: normal;
    font-size: 4em;
    text-align: center;
    text-shadow: 1px 1px 0px #08bc9b;
    color: #0780af
}
h2{
    
    font-weight: normal;
    text-align: center;
    text-shadow: 1px 1px 0px #d7fff8;
    
}
p{
    text-align: justify;
    text-indent: 30px;
}
