@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body,html{
    width: 100vw;
    height: 100vh;
}
.content{
    border: 3px dashed blue;
    box-shadow: 2px 3px 3px black;
  

    display: grid;
    gap: 20px;
    height: 350px;
    grid-template-rows: repeat(3,80px);
    grid-template-columns: repeat(3,90px);
    grid-auto-rows: 80px;
    grid-auto-columns: 80px;
    grid-auto-flow: column;
  
  
    place-items: end center;
    place-content: space-between end;
  
}
.item{
    border: 2px solid green;
    padding: 10px;
    text-align: center;
    background-color: rgba(233, 20, 20, 0.61);
    border-radius: 10px;
    color: rgb(0, 13, 255);
    text-shadow: 0.5px 0.5px 2px rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 2em;
}